/* Reset estilos */

body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul, a {
  list-style: none;
  text-decoration: none;
}

/* Cabeçalho */

.header-bg{
 background: #615543;
 max-width: 1800px;
 margin: 0 auto;
}

.marca{
  width: 240px;
}

.header-menu {
  max-width: 1800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

.menu-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a{
  font-family: 'Noto Serif';
  font-size: 1.1rem;
  color: #f2e1c8;
  letter-spacing: 1.3px;
  display: block;
  padding: 12px 0;
  text-transform: uppercase;
  position: relative;
  margin-left: .7rem;
  display: flex;
  align-content: center;
}

.menu-nav a::after{
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: white;
  margin-top: 24px;
  transition: 0.4s;
  position: absolute;
}

.menu-nav a:hover{
  color: #fff;
  cursor: pointer;
}

.menu-nav a:hover::after{
  width: 100%;
}

/* banner */

.banner img{
  width: 1800px;
  margin: 0 auto;
}

/* Sobre */

.superinfo-bg{
  max-width: 1800px;
  margin: 0 auto;
  background: rgb(218, 171, 44);
  color: #fff;
}

.superinfo{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 12px;
}

.superinfo a, .superinfo p{
  margin: 0 12px 12px 12px;
}

.superinfo a{
  color: #fff;
}

.main{
  margin: 0 auto;
  max-width: 1800px;
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 50px;
}

.sobre-h1 h1{
  margin: 40px auto;
  color: #776243;
  max-width: 1800px;
  font-family: 'Dancing Script', serif;
  font-size: 3rem;
}

.lista-dl{
  align-self: center;
}

.local{
  height: 700px;
}

.lista-dl dt{
  font-family: 'Noto Serif';
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: .5rem;
}

.lista-dl dt::before{
  content: '';
  display: inline-block;
  width: 12px;
  height: 6px;
  margin-right: 12px;
  background: #cfab75;
  margin-bottom: 4px;
}

.lista-dl dd{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5rem;
  margin-right: 100px;
  font-size: 1.1rem;
  max-width: 90ch;
}

