.cafes{
  display: flex;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 100px;
}

.cafeteira{
  max-width: 35%;
}

.menu-cafes{
  width: 100%;
}

.produtos-item{
  display: flex;
  align-items: center;
  background-color: #ffe4cd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
  width: 100%;
  margin-bottom: 20px;
}

.produtos-item ul{
  padding: 0 20px;
  width: 200px;
}

.produtos-info li{
  border-bottom: 1px solid rgb(240, 170, 20);
  padding: 10px 0;
  font-size: 1.2rem;
}

.produtos-item li:last-child{
  border: none;
}

.produtos-item span{
  font-weight: bold;
  padding-right: 15px;
}

.img-cafe{
  width: 100%;
}