body, h1, h2, h3, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul, a {
  list-style: none;
  text-decoration: none;
}

.titulo-h1 h1{
  margin: 40px auto;
  color: #776243;
  max-width: 1800px;
  font-family: 'Dancing Script', serif;
  font-size: 3rem;
  padding: 0 20px;
}